@media (max-width: 759px) {
  .head--top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 52px;
    margin-top: 10px;
  }
  .head--topreturn {
    position: absolute;
    left: 22px;
    font-size: 20px;
  }
  .head--topimg {
    width: 165px;
  }
  .head--img {
    width: 100%;
    height: 256px;
    margin: 0px;
    z-index: -1;
  }
}

@media (max-width: 759px) {
  .menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #F6F6F6;
    border: 1px hidden;
    border-radius: 38px 38px 0px 0px;
    margin-top: -38px;
  }
  .menu--head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 34px;
  }
  .menu--headtitle {
    font-family: "Shrikhand", cursive;
    margin: 0px 0px 0px 18px;
  }
}

.far.fa-heart {
  margin-right: 38px;
  font-size: 20px;
}

@media (max-width: 759px) {
  .starters {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 30px 0px 0px 14px;
  }
  .starters--title {
    font-family: "roboto", sans-serif;
    font-size: 16px;
    width: 40px;
    margin: 0px 0px 0px 6px;
    border-bottom: 4px solid #99E2D0;
    padding-bottom: 5px;
  }
  .starters--art {
    width: 93%;
    height: 70px;
    margin-top: 12px;
    border: 1px hidden;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 2px 5px #b7b7b7;
    transition: all 250ms;
  }
  .starters--art:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 5px #848484;
  }
  .starters--arttitle {
    font-family: "roboto", sans-serif;
    font-size: 16px;
    margin: 15px 0px 5px 10px;
  }
  .starters--div {
    display: flex;
    justify-content: space-between;
  }
  .starters--description {
    font-family: "roboto", sans-serif;
    font-size: 14px;
    margin: 0px 0px 0px 10px;
  }
  .starters--price {
    font-family: "roboto", sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin: 0px 20px 0px 0px;
  }
  .starters--check {
    opacity: 0;
  }
}

@media (max-width: 759px) {
  .dishes {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 30px 0px 0px 14px;
  }
  .dishes--title {
    font-family: "roboto", sans-serif;
    font-size: 16px;
    width: 40px;
    margin: 0px 0px 0px 6px;
    border-bottom: 4px solid #99E2D0;
    padding-bottom: 5px;
  }
  .dishes--art {
    width: 93%;
    height: 70px;
    margin-top: 12px;
    border: 1px hidden;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 2px 5px #b7b7b7;
    transition: all 250ms;
  }
  .dishes--art:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 5px #848484;
  }
  .dishes--arttitle {
    font-family: "roboto", sans-serif;
    font-size: 16px;
    margin: 15px 0px 5px 10px;
  }
  .dishes--div {
    display: flex;
    justify-content: space-between;
  }
  .dishes--description {
    font-family: "roboto", sans-serif;
    font-size: 14px;
    margin: 0px 0px 0px 10px;
  }
  .dishes--price {
    font-family: "roboto", sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin: 0px 20px 0px 0px;
  }
  .dishes--check {
    opacity: 0;
  }
}

@media (max-width: 759px) {
  .dessert {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 30px 0px 0px 14px;
  }
  .dessert--title {
    font-family: "roboto", sans-serif;
    font-size: 16px;
    width: 40px;
    margin: 0px 0px 0px 6px;
    border-bottom: 4px solid #99E2D0;
    padding-bottom: 5px;
  }
  .dessert--art {
    width: 93%;
    height: 70px;
    margin-top: 12px;
    border: 1px hidden;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 2px 5px #b7b7b7;
    transition: all 250ms;
  }
  .dessert--art:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 5px #848484;
  }
  .dessert--arttitle {
    font-family: "roboto", sans-serif;
    font-size: 16px;
    margin: 15px 0px 5px 10px;
  }
  .dessert--div {
    display: flex;
    justify-content: space-between;
  }
  .dessert--description {
    font-family: "roboto", sans-serif;
    font-size: 14px;
    margin: 0px 0px 0px 10px;
  }
  .dessert--price {
    font-family: "roboto", sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin: 0px 20px 0px 0px;
  }
  .dessert--check {
    opacity: 0;
  }
}

@media (max-width: 759px) {
  .order--button {
    display: flex;
    align-self: center;
    width: 60%;
    height: 50px;
    margin: 50px 0px 80px 0px;
    background: linear-gradient(#FF79DA, #9356DC);
    border: 1px hidden;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0 2px 5px #b7b7b7;
    transition: all 250ms;
  }
  .order--button:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 5px #848484;
  }
  .order--buttontext {
    font-family: "roboto", sans-serif;
    font-size: 16px;
    display: flex;
    align-self: center;
    margin-left: 60px;
    color: white;
  }
}

/*# sourceMappingURL=restaurants.css.map */
